* {
    margin: 0;
    padding: 0;
}

.loading {
    width: 100vw;
    height: calc(100vh - 55px);
    display: fixed;
    /* background-color: rgb(40, 40, 40); */
    display: grid;
    place-items: center;
    max-width: 100%;
}

.loading>div {
    width: 70px;
    height: 70px;
    border-bottom: 3px solid red;
    border-radius: 60%;
    animation: loadingRotate 700ms linear infinite;
}


@keyframes loadingRotate {
    to {
        transform: rotateZ(360deg);
    }
}