.headBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(40, 40, 40, 0.0); */
    height: 40px;
    /* border-bottom: 1px solid gray; */
    width: 90%;
    margin: auto;
}

.headBanner>h1 {
    font-weight: 200;
    font-size: 18px;
}

.headBanner>div {
    padding-bottom: 3px;
}

.headBanner>div>span,
.headBanner>div>a {
    font-family: 'Shadows Into Light', cursive;
    color: rgb(160, 160, 160);
}

.headBanner>div>a {
    color: red;
    cursor: pointer;
    font-size: 18px;
}

.headBanner>div>a:hover {
    text-decoration: underline;
}